<br>
<h1 style="margin-left: 40px;font-family:verdana;"> Places I've Been</h1>
<br>

<% for place in @places %>
  <p style="margin-left: 40px;font-family:verdana;">
    <a href="/places/<%= place["id"]%> ">
    <%= place["name"] %></a>
  </p>

<% end %>

<button style="margin-left: 40px;font-family:verdana;">
  <a href="/places/new"> Enter a new place</a>
</button>
