<!-- New place input-->
<br>
<h1 style="margin-left: 40px; font-family:verdana;">New Place</h1>

<form action="/places" method = "post">
  <p style="margin-left: 40px; font-family:verdana;">
    <label for="name">Name of the place</label>
    <input type="text" name = "name" id="name">
  </p>
  <button style="margin-left: 40px; font-family:verdana;">Submit</button>
  <button style="margin-left: 10px; font-family:verdana;"><a href="/places">Cancel</a></button>
</form>