<!-- Place details page-->

<h1><%= @place["name"] %></h1>


<button><a href="/entries/new"> New Post</a></button>

<button style="font-family:verdana;">
<a href="/places">Back to All Places</a>
</button>
