<!-- Place details page-->

<h1><%= @place["name"] %></h1>

<h3>Title</h3>
<p>2025-01-01</p>
<p>something somthing</p>




<button style="font-family:verdana;">
<a href="/places">Back to all places</a>
</button>
